body {
  background: #eaa6b6;
}

a {
  color: #ed6f8c;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-dictionary-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 13px;
}
